@media (max-width: 1024px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
.product-z1 .ht-product-card.home-05-column{
        width: 30.333333%;
}
.product-z2 .ht-product-card.on-list-05-column{
    width: 30.333333%;
}
.design-page .owl-carousel .owl-nav .owl-prev {
    left: 842px;
  }
.ht-title{
    font-size: 17px;
}
.title-set-pro2:after {
    width: 99px;
    margin: 6px 0px -15px 103px;
}
.h2-product-design .ht-title{
    font-size: 17px;
}
.title-chanxanh {
    background-size: 54% 71%;
}
.title3-cate-h2:after {
    width: 69px;
    position: absolute;
    right: 32px;

}
.post-action{
        padding: 8px 4px;
}
.left-enduser .card-header .user-title{
    font-size: 11px;
}
.col-xs-offset-3{
    margin: 0;
    padding: 0;
}
.up-des-content{
    display: flex;
    justify-content: center;
}

.right-feild{
    margin-top: -93px;
}
.feild-left-top{
    margin-top: -20px;
}
.view-number {
        bottom: -146px;

}

.cat-filter-header .cate-title-form {
    width: 93px;
}
#banner-cate .upload-cate .item-up{
    height: 67px;
}
.btn-product-ct .btn.ht-btn-default{
    margin-left: 5px;
}
.right-slide-productdetail #registration-date {
    width: 93px;
}
.ht-sidebar.ht-type-01 .sidebar-title .ht-title{
    font-size: 18px;
}
.product-pri-cate{
    width: 33%;
}
.cate-t-2:after {
    margin: 22px 0px -26px 124px;
}
.cate-slidebar-left .ht-sidebar {
    margin-top: 39px;
}
#siteHeader .navbar-collapse { 
    display: block; 
}
.slide-productdetail{
    margin: 0;
}
.sidebar-news-list li .news-detail .news-title a{
    font-size: 11px;
}
.sidebar-news-list li .news-detail .news-meta {
    display: flex;
    padding:0;
}
.banner-item .text-banner.align-left .title-lv3{
    padding: 0px 8px 0px 0px;
}
.banner-item .btn-page-primary {
    padding: 7px 10px 7px 10px;
    font-size: 11px;
}
.ht-product-card .product-detail .pro-name{
    height: 34px;
}
.banner-item .text-banner.align-left .title-lv1{
    font-size: 12px;
}
.banner-pro-three .title-lv8 {
    font-size: 22px;
}
.banner-item .text-banner.align-left .title-lv2{
    font-size: 22px;
}
.banner-pro-tow .title-lv5 {
    line-height: 5px;
}
.tab_wrapper > ul li{
    padding: 7px 2px;
}
#siteHeader ul.ul-lev1 .category a.list-title {
    padding: 17px 12px 11px 42px;
}
.ht-news-card .news-title {
    padding: 8px 22px 0px 22px;
    font-size: 13px;
}
.news-excerpt {
    padding: 1px 26px 0px 22px;
}
.ht-news-card-list .ht-news-card .news-meta {
    padding: 16px 0px 16px 0px;
    width: 78%;
    margin-left: 19px;
}
.bt-4new .card-content {
    margin: 5px;
}
.vertical-navbar .ul-lev2{
    height: auto;
}
.hot-mobi{
    display: none;
}
#siteHeader .main-navbar ul.list-level-01 > li > a{
    font-size: 10px;
    padding: 10px 6px;
}
.search-tab .search-form #search_text{
    width: 380px;
}
#siteHeader ul.action-menu-list .btn {
    font-size: 10px;
    padding: 6px 13px 3px 13px;
    
}
.product-filter-nav ul.filter-list{
    display: none;
}
.ht-product-card.on-list-05-column {
    margin-bottom: 19px;
    width: 29.333333%;
    float: left;
}
.product-album-carousel .carousel-indicators{
    height: 282px;
    margin-right: 4px;
}
.btn-product-ct .btn.ht-btn-primary {
    padding: 6px 10px 6px 8px;
}
.btn-product-ct{
    display: flex;
}
.tt-productdetail .head-productdetail .p-name {
    font-size: 18px;
}
.banner-cate-leftsmall .banner-item .text-banner.align-left .title-lv2 {
    font-size: 17px;
}
.title-lv4 {
    display: inline-block;
    line-height: 29px;
    margin: -13px 0px 14px 0px;
}
.title-lv5 {
    color: #000;
    font-size: 14px;
    line-height: 0px;
}
#product-dx .owl-carousel .owl-nav .owl-prev {
    left: 719px;
}
.pl-thankyou{
    width: 680px;
    margin-left: 13%;
}

}

/*table*/
@media (min-width: 768px) and (max-width: 991px) {
.ht-product-card .product-detail .pro-name{
    width: 168px;
}
.product-z1 .ht-product-card.home-05-column{
    display: flex;
    width: 100%;
   margin-bottom: 11px;
}
.product-z2 .ht-product-card.on-list-05-column{
    display: flex;
    width: 100%;
    margin-bottom: 11px;
}
#news-detail-z1 .upload-cate .item-up {
    background: url(../img/2.1_03.png) no-repeat;
    width: 101%;
    height: 119px;
    margin-bottom: 20px;
    background-size: cover;
}
.btn-cmt{
    width: 100%;

}
.category-user .ht-sidebar-collapse-toggle {
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #3a607d;
    border: 0;
    z-index: 10;
    padding: 14px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    outline: none;
    position: fixed;
}
.left-enduser .card-header .user-title {
    color: #2dbeb3;
}
.left-enduser .card-header .post-meta {
    color: #fff;
}
.category-user .ht-sidebar-collapse-toggle i {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 4px;
    line-height: 20px;
    font-size: 25px;
    color: #fff;
}
.left-enduser .navbar-collapse {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    background: rgb(58, 96, 125);
}
.wait-eduser .wait-btn-eduser{
    font-size: 12px;
}
.wait-eduser .yep-eduser{
    font-size: 12px;
}
.pa-12 {
    padding: 17px 15px;
}
.left-enduser .user-desktop {
    display: none;
}
.qa-enduser {
    display: none;
}
.ht-sidebar-card ul.sidebar-cat-list > li > a {
    color: #fff;
}
.ht-product-card .product-image .image-wrap{
        height: 124px;
}
.design-page .owl-carousel .owl-nav .owl-next{
    display: none;

}
.design-page .owl-carousel .owl-nav .owl-prev {
    display: none;
  }

#popup-product-deltail .registration-date-time{
    margin-left: 15px;
}
.top-table-cart .text-center .btn{
    width: 100%;
    font-size: 11px;
}
.slide-detail-p{
    margin-top: 44px;
}
#popup-datin .ht-modal-content {
    height: 1863px;
}
#popup-datin .modal-dialog {
    width: auto;
}
#popup-datin .popup-left-pro{
    width: 100%;
}
#popup-datin .popup-right-pro{
    width: 100%;
}
#popup-product-deltail .popup-left-pro{
    width: 100%;
}
#popup-product-deltail .popup-right-pro{
    width: 100%;
}
#popup-product-deltail .modal-dialog{
    width: auto;
}
#popup-product-deltail .ht-modal-content {
    height: 1670px;
}
#popup-product-deltail .warming{
        margin: 11px 5px 9px;
}
#popup-product-deltail .number-pop{
    margin: 7px 250px;
}
.warming-top{
    margin: 10px -7px 0px -1px;
}
.text-ri-tab{
    right: 21px;
}
#popup-product-deltail .registration-date-time{
    margin-left: 302px;
}
.top-table-cart .text-center .btn{
    width: 100%;
    font-size: 11px;
}
.slide-detail-p{
    margin-top: 44px;
}
.col-xs-offset-3{
    margin: 0;
    padding: 0;
}
.pl-thankyou {
    background-size: 100% 100%;
}
.btn-upload1{
    width: 100%;
}
.up-des-content .pl-upload{
    padding: 20px;
}
    .col-xs-offset-1{
        margin: 0;
    }
.cat-filter-header .cate-title-form{
        width: 100%;
}
.product-pri-cate{
    width: 33%;
}
#right-head{
    background: #cccccc45;
    padding: 20px;
    margin: 9px 0px 0px;
}
#siteHeader .sh_main-menu ul.control-action {
    width: 100%;
    text-align: center;
    padding: 2px 60px;
}

#siteHeader .sh_main-menu ul.control-action > li .login{
    justify-content: center;
}
#siteHeader .sh_main-menu ul.list-level-02{
    width: 100%;
    left: 0;
}
#siteHeader .sh_main-menu ul.control-action > li .language {
    background: #ffc40d;
    margin: 10px 0px;
    border-radius: 20px;
    width: 100%;
}
#siteHeader .sh_main-menu ul.control-action > li .language .ht-icon2 {
    display: block;
    height: 31px;
}
#siteHeader .sh_main-menu ul.control-action > li .language .ht-icon1 {
    display: none;
}
#siteHeader .sh_main-menu ul.control-action > li {
    width: 100%;
}

#productCarousel-designpage .ht-product-card{
    margin: 0;
}
.cate-slidebar-left .ht-sidebar{
    margin-top: 30px;
}
/*#banner-cate .upload-cate .item-up{
    height: 140px;
    margin-bottom: 20px;
}*/
.vertical-navbar .list-unstyled{
    width: 100%;
}
.upload-cate img{
    width: 100%;
}
.banner-cate-leftsmall{
    display: flex;
    justify-content: center;
}
#siteHeader{
    padding-top: 57px;
}
.ht-product-card .product-detail .pro-name a{
    white-space: pre;
    font-size: 12px;
 }
 .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    position: relative;
}
 .tab_wrapper .content_wrapper .tab_content .product-pri{
    width: 33%
 }
.vertical-navbar .ul-lev2 { 
    height: 379px;
}
.ht-product-card .product-detail{
    margin: 12px 10px 0px 10px;
}
.search-tab .search-form #search_text{
    width: 300px;
}
.ser-text{
    display: none;
}

 #siteHeader .sh_main-menu .sh_toggle-btn{
    display: block;
}

.hot-desk{
    display: none;
}
.hot-mobi {
    background: #fd5b4e;
    padding: 7px 10px;
    border-radius: 17px;
    position: absolute;
    right: 66px;
    
}
/*.navbar-collapse.collapse{
    display: none ;
}*/
.hot-mobi a{ 
    color: #fff; 
}
.navbar-toggle {
    display: block; 
}
.product-filter-nav ul.filter-list{
    display: none;
}
.ht-product-card.on-list-05-column{
    width: 100%;
    display: flex;
}
#siteContent .product-filter-nav { 
    position: relative;
}
.text-heds{
    display: none;
}
.not-active{
    display: none;
    }
    .not-active.active{
    display: flex;
    }
    div.controller{
    right: 99px !important;
}
.bt-4new .card-content{
    margin: 15px;
}
#siteHeader ul.ul-lev1 .category a.list-title {
    padding: 16px 0px 11px 46px;
}
#bannerCarousel .ht-product-card{
    margin: 0;
}
#bannerCarousel .ht-product-card {
    margin: 0;
}
#slide .owl-carousel.owl-drag .owl-item {
    height: 380px;
}
.category .vertical-navbar ul.ul-lev2 li.site-nav-icon .nav-item {
    padding-left: 48px;
}
.ht-mgt24 {
    margin-top: 10px;
}
.banner-item{
    background:#fff;
}
.product-album-carousel .carousel-indicators{
    height: 271px;
}
.view-number{
    bottom: -137px;
}
.search-tab .search-form #search_button{
    right: 0px;
    padding: 8px;
    width: 31px;
}
.left-content-fe .text-content{
    margin: 10px 0px;
}
#siteHeader .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    width: 100%;
    z-index: 101;
    position: absolute;
    top: 56px;
    left: 0;
    border-bottom: 5px solid #2dbeb3;
}
#siteHeader .main-navbar ul.list-level-01 > li {
    width: 100%;
    text-align: center;
}
#why-cate{
    height: 100vh;
}
.left-title-cate{
    display: block;
    line-height: 55px;
    width: 100%;
}
.left-enduser{
    height: auto;
}
.avt-right-ttc{
    margin-top: 20px;
}
.left-enduser{
    border:0;
}
.content-enduser{
    box-shadow: none;
}
.news-list .wrap_banner img{
    width: 100%;
}
.ht-rectangle > .ht-inner img{
    width: 100%;
}
.news-list .wrap_banner.bt-one{
    height: 280px;
}
.title-new-list{
    margin: 23px 0px 101px 0px;
}
.tabs-search .tab-content .product-pri-cate {
    width: 50%;
}
.tabs-search .nav .nav-item{
    width: 50%;
    margin-bottom: 10px;
    float: left;
    margin: 0 auto;
    padding: 3px;
}
.tabs-search .nav .nav-item .nav-link{
    width: 100%;
}
.slup-dashboard .left-slup{
    margin: 0;
}
.bt-print-pd .form-group{
    width: 50%;
}
.cover__actions{
    left: 37%;
    top: 91%;
}
.avatar-action {
    left: 53%;
}
.avt-designpage .seller-heading-title {
    margin: 24px 0px 8px;
}

} 
/*mobile*/
@media (max-width: 767px) {
.product-news-ct .product-news-detail{
    margin: 0;
}
.bt-print-pd .form-group{
    width: 100%;
}
.up-slup .top-up-slup{
    width: 100%;
}
.tt-upload-sup {
    padding: 0;
}
.up-slup {
    padding: 0;
}
.up-slup .sidebar-cat-selecting-list li {
    width: 47%;
    float: left;
}
.ht-sidebar-card ul.sidebar-cat-list > li > a .name-list{
    padding-left: 55px;
}
.slup-dashboard .ht-sidebar-card .sidebar-cat-list{
    margin: 0px 0px 0px -8px;
}
.left-enduser .ht-sidebar-card ul.sidebar-cat-list > li > ul .lv2-enduserli{
    margin: 5px 0px 0px 57px;
}
.seller-portrait{
    box-shadow: 0px 0px 13px #9f9f9f70; 
}
.tabs-accept .tab-content .footer-hitory-accept .text-left {
    text-align: center;
    float: none;
}
.tabs-accept .tab-content .footer-hitory-accept .text-right {
    text-align: center;
    float: none;
}
.tabs-accept .nav-item{
    width: 100%;
}
.slup-dashboard .right-enduser{
    border:0;
}
.tabs-sup-oder .tab-content .text-tabs-odersup2{
    text-align: justify;
}
.tabs-sup-oder .nav-item{
    width: 49%;
    float: left;
}
.slup-dashboard .single-tags-label{
        top: -10px;
    left: 17px;
}
/*.left-slup .ht-sidebar-card ul.sidebar-cat-list > li > a {
    color: #000;
}
.ht-sidebar-card ul.sidebar-cat-list > li > ul .lv2-enduserli a {
    color: #000;
}*/
.pa-22 {
    padding: 30px 13px 15px;
}
.slup-dashboard .cate-slup{
    color: #fff;
}
.product-album-carousel .carousel-indicators{
    height: 236px;
}
.eduser-42 .panel-heading{
    background-image: none;
}
.right-notification .dropdown-menu{
    width: 300px;
    left: 0;
}
/*.text-left, .text-right{
    text-align: center;
    float: none;
}*/
.eduser-album .product-album{
    width: 100%;
}
.title-destination{
    margin: 0;
}
.back-avt{
    background-size: cover;
}
.right-title-des{
    display: block;
}
.pl-checkstatus .mdh .form-mdh{
    width: 100%;
}
.user-destina {
    margin-bottom: 20px;
}
.right-title-des .sort-wrap {
    margin: 10px 0px;
}
.pl-destina .product-destina {
    width: 100%;
}
.ht-sidebar-card ul.sidebar-cat-list > li > a{
    color: #fff;
}
.ht-sidebar-card ul.sidebar-cat-list > li ul li a{
    color: #fff;
}
.left-enduser .user-desktop{
    display: none;
}
.left-enduser .card-header .user-title{
    color: #2dbeb3;
}
.left-enduser .card-header .post-meta{
    color: #fff;
}
.ht-sidebar-card .card-content{
        margin: -42px 0px 34px;
}
.pl-checkstatus .form-checkstatus .block-chat .btn{
    margin-bottom: 10px;
}
.category-user .ht-sidebar-collapse-toggle{
    display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #3a607d;
    border: 0;
    z-index: 10;
    padding: 14px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    outline: none;
    position: fixed;
}

.left-enduser .navbar-collapse{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    background: rgb(58, 96, 125);
 
}
.qa-enduser{
    display: none;
}
.pa-12{
       padding: 17px 15px;
    
}
.category-user .ht-sidebar-collapse-toggle i {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 4px;
    line-height: 20px;
    font-size: 25px;
    color: #fff;
}
.home-carousel .owl-carousel .owl-item{
  height: 175px;
}
.ht-sidebar-collapse-toggle{
    display: block;
}

.pl-12-1-3-3 {
    padding: 20px 0px 0px 0px;
}
.pl-12-1-3-3 .right-slide-productdetail {
    padding: 0;
}
.cover__actions {
    position: relative;
    width: 200px;
    left: 20%;
}
.tt-infopay .head-ttgh{
    border:0;
}
.pull-right{
    float: none;
}
.right-enduser .ht-card-list_header{
    height: 162px;
}
.title-set-pro2:after{
        margin: 6px 0px -15px 101px;
}
.tt-infopay .btn-adre-infopay{
    position: relative;
    margin: 0;
        right: -18px;
}
.content-enduser hr{
    border: 0;
}
.slup-dashboard .left-slup{
    margin: 0;
}
.ht-title.with-bb .title-bg{
    background: #fff;
}
.tabs-search .tab-content .product-pri-cate {
    width: 100%;
}
.tabs-search .nav .nav-item{
    width: 100%;
    margin-bottom: 10px;
}
.tabs-search .nav .nav-item .nav-link{
    width: 100%;
}
.ht-rectangle > .ht-inner img{
    width: 100%;
}
.news-list .wrap_banner img{
        width: 100%;
}
.pull-left{
    float: none;
}
.enduser-processing .right-slide-productdetail{
    padding: 17px 0px;
    margin: 0px;
}
.enduser-processing .goi-in-processing{
    padding: 0px 3px 0px 35px;
}
.table-responsive-edu {
    width: 100%;
    margin: 15px 0px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
.left-enduser{
    border:0;
}
.content-enduser{
    box-shadow: none;
}
.product-design .ht-sidebar{
    border:1px solid #cccccc80;
    box-shadow: none;
}
.post-action .btn-nofi{
    font-size: 12px;
}
.ht-card-list_header .cl_h_title{
    text-align: center;
    padding:20px;
}
#product-dx .title-chanxanh {
    background: none;
}
#product-dx .pro-dx{
    white-space: pre;
}
.fz-12 {
    font-size: 13px;
}
.product-design{
    margin-top:20px;
}
.single-tags-label {
  
    margin: 4px 4px;
    padding: 0px 2px;
    line-height: 18px;
    font-size: 10px;
   
}
.left-enduser{
    height: auto;
}
.right-notification{
   padding: 0px 0px;
    margin: 0;
    line-height: 10px;
    display: block;
    text-align: center;
}
.enduser-basicinfor .tt-user{
    margin: 27px 0px 26px;
    height: 293px;
}

.content-enduser .ht-product-card-list{
    padding:0;
}
.eduser-42{
    padding: 0;
}
.avt-right-ttc{
    margin-top: 20px;
}
.cat-filter-header .cate-title-form{
    width: 100%;

}
#productCarousel-designpage .owl-carousel .owl-nav .owl-prev {
    left: -163px;
}
#productCarousel-designpage{
    margin: 0;
}
.avt-designpage{
    margin: 10px 0px;
}
.owl-carousel .owl-dots{
    display: block;
}
#why-cate{
    height: 100vh;
}
#siteHeader .sh_main-menu ul.language-lv2{
    left: 0px;
    top: 48px;
    width: 100%;
}
.vertical-navbar ul li a i{
     right: 31px;
}
#siteHeader .main-navbar ul.list-level-01 > li > a{
     border-bottom: dashed 1px #ccc6;
 }
 #siteHeader .sh_main-menu ul.list-level-02{
    width: 100%;
 }
.single-app-card .avt-cate-cover img{ width: 100%; }
/*#banner-cate .upload-cate .item-up{
    height: 62px;
    margin-bottom: 10px;
}*/
.display-none{
    display: none !important;
}
.product-pri-cate {
    width: 100%;
}
.cate-slidebar-left .ht-sidebar {
    margin-top: 0px;
}
.left-title-cate{
    display: block;
    line-height: 55px;
    width: 100%;
}
.title-why-cate{
    margin-top: 35px
}
.cate-nav-pri::before{
    display: none;
}
#why-cate {
    background:#fff;
}
#why-cate .section-why {
    padding: 0;
}
.btn-why-cate .btn1-why-cate {
    background: #ee3d77;
    color: #fff;
    padding: 7px 20px 7px 19px;
    line-height: 25px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
    font-size: 12px;
}
.margin-0{
    margin: 0;
}
.padding-0{
    padding: 0;
}
.right-slide-productdetail #registration-date{
    width: 100%;
    height: 34px;
}
.left-content-fe .text-content{
    margin: 10px 0px;
}
#product-dx .owl-carousel .owl-nav .owl-prev {
    left: 0;
    top: 43%;
}
#product-dx .owl-carousel .owl-nav .owl-next {
    top: 43%;
    right: 0;
}

.owl-carousel .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
}
#productCarousel .owl-dots{
    display: none;
}
#productCarousel1 .owl-dots{
    display: none;
}
.ht-user-review-card .reviews-by-user-list .single-review .user-avatar{
    width: 184px;   
}
.ht-user-review-card .reviews-by-user-list .single-review .avt-star .user-avatar{
    width: 78px;
    height: 75px;
}
.left-slide-productdetail{
    display: block;
    box-shadow: none;
}
.slide-productdetail{
    width: 100%;
    margin: 0;
    padding:0;
}
.view-number {
    bottom: -127px;

}
.ht-cmt-now{
    margin: 0;
    padding: 0;
}
.tt-productdetail{
    margin: 5px;
    padding:0;
}
.left-content-fe{
    margin: 0;
    padding: 0;
    text-align: justify;
}
.content-productdetail{
    padding: 0;
    margin: 0;
}

.content-fedback{
    display: block;
}
.content-fedback .ht-seller-overview-card{
    width: 100%;
}
.content-fedback .right-cmt-product{
    width: 100%;
    padding: 0;
    margin-top: 15px;
    line-height: 32px;
}
.block-chat{
    padding:12px;
}
.right-slide-productdetail{
    box-shadow: none;
    padding: 12px; 
}
.chat-like{
    box-shadow: none;
    margin: 0;
}
.left-content-fe .inner_title .h2 {
    line-height: 33px;
    font-size: 18px;
}
.ht-mgt24 {
    margin-top: 9px !important;
}

.ht-pdt16 {
    padding-top: 15px !important;
}
.print-n{
    padding: 7px 0px 0px;
}
#siteHeader .sh_main-menu .sh_logo a{
    overflow: unset;    
}

#siteHeader .sh_main-menu ul.control-action > li {
    width: 100%;
}
#siteHeader .sh_main-menu ul.control-action > li .language{
    background: #ffc40d;
    margin: 10px 0px;
    border-radius: 20px;
    width: 100%;
}
#siteHeader .sh_main-menu ul.control-action > li .language .ht-icon1{
    display: none;
}
#siteHeader .sh_main-menu ul.control-action > li .language .ht-icon2{
    display: block;
     height: 31px;
}
.vertical-navbar .list-unstyled{
        width: 100%;
    left: 55px;
    top: 47px;
}
.review .content-right {
    margin-left: 26px;
}
.cart-tab{
    margin: 0 3px; 
 }
.search-tab{
    padding: 0;
}
.banner-item .text-banner.align-left .title-lv2{ 
    font-size: 25px;
    margin: 17px 12px 17px;
 }
 #bannerCarousel .btn-page-primary {
    left: 0;
}
.navbar-action .btn--create-new-shop .action-badge-count{
    line-height: 17px;
    padding: 0 3px;
    margin: 3px 0px;
}
 .banner-pro-tow .title-lv5{
    line-height: 23px;
 }
 .banner-pro-tow{
    margin-top: 15px;
 }
.review .btn-video .click-video{
    width: 100%;
    top: -17px;
    padding: 15px;
    left: 0;
    line-height: 86px;
    position: relative;
}
.tab_wrapper .content_wrapper .tab_content .product-pri  .ht-product-card{ 
    margin: 0; 
}
.footer-pri{  
    padding-bottom: 150px;
}
.ser-text{
    display: none
}
.tab_wrapper .content_wrapper .tab_content .product-pri{ 
    width: 100%; 
    margin-bottom: 20px;    
}
#return-to-top{ 
    position: relative; 
    left: 55%; 
    bottom: 45px; 
}
#search_text{
    display: none;
}
.search-tab .search-form #search_button {
    margin: -9px 0px;
    padding: 6px 11px 6px 11px;
    font-size: 16px;
    height: 36px;
    width: 38px;
    display: none;
}
#siteFooter .footer-bottom .about-content p{
    text-align: justify;
}
.navbar-action .btn--create-new-shop {
    margin: 6px 4px 0px;

}
.bar-mid{
    margin: 2px;
}
#siteFooter {
    margin-top: 15px;
}
.title-product{
    display: flex;
}
.print-n .add-attachment-btn{
    border-radius: 50%;
    padding: 8px 11px 7px 11px;
    font-size: 17px;
}
.news-letter-area .subscribe-form button{
    padding: 0px 11px;
}
#bannerCarousel .owl-nav{ 
    display: none;
}
.news-letter-area .subscribe-form input{
    width: 215px; 
}
.ht-product-card.on-list-05-column{
    width: 100%; 
    padding: 0; 
    margin: 10px 0px;
}
.not-active{
     display: none;
    }
    .not-active.active{
     display: flex;
    }
     div.controller{
     right: 70px !important;
}
.tab_wrapper .controller span {
    padding: 8px 16px;
}

.banner-item{ 
    width: 100% ;

}
.title_module_main .inner_title .des{
    font-size: 11px;
}
.title_module_main .h2, .title_module_main h2{
    font-size: 24px;
    line-height: 32px;
}
#siteFooter .footer-main .f-nav-list li ul.pay{
    margin: 6px 32px 2px 0px;
}
.tab_wrapper > ul{    
    margin: 0px -32px;
}
.banner-pro-three .title-lv8 {
    font-size: 22px;
    padding:0;
}

.ht-home-customer-feedback-type02-section .has-slick-arrow-type-01 .slick-arrow{ 
    opacity: 0; 
    position: relative;
 }
.cate-xo{display: none;}
.product-filter-nav ul.filter-list{display: none;}
.banner-item:before{display: none;}
.banner-item:after{display: none;}
.news-letter-area .subscribe-form input{ width: 250px; margin-left: 10px;}
.footer-promotion .single-policy {padding-left: 14%;margin-bottom: 14px;}
.footer-bottom{text-align: center;}

.review{ background: #eaf4ff }
.review .section-review { padding: 70px 0 100px; background: #eaf4ff}
.text-heds{display: none;}

#siteHeader ul.action-menu-list .btn{display: none;}
#siteHeader{
    padding-top: 57px;
}
.hot-mobi{background: #fd5b4e;padding: 7px 10px;border-radius: 17px;position: absolute;right: 66px;}
.hot-mobi .cart-group{color: #fff;}
#bannerCarousel .btn-page-primary{background: none;color: #fff;left: -13px;}
#siteHeader .navbar-collapse {padding-left: 0;padding-right: 0;background: #fff;
width: 100%;z-index: 101;position: absolute;top: 56px; left: 0;border-bottom: 5px solid #2dbeb3;}
#siteHeader .category{ margin-left: -12px; }
#siteHeader .vertical-navbar .ul-lev2{ width: 300px; display: none;margin: 0px 12px; }
#siteContent .product-filter-nav{ position: absolute;right: 0 }
#siteContent .lv-hot .banner-item{ width: 100% }
#siteHeader .main-navbar ul.list-level-01 > li{ width: 100%; text-align: center;}
#siteHeader ul.ul-lev1 .category a.list-title {padding: 17px 6px 11px 57px; font-size: 15px;}
.product-filter-nav .view-more{line-height: 33px; font-size: 9px}
#siteHeader ul.ul-lev1 .category a.list-title i{font-size: 18px;left: 15px;}
ul.slick-dots{ opacity: 0;}
#right-head{background: #cccccc45;padding: 20px;}
#right-head .login{
    background: #fff;
    border-radius: 23px;
}
#siteHeader .sh_main-menu ul.control-action{ 
    width: 100%;
    text-align: center;
    padding: 2px 60px;
}
.main-category .left-side #triggleSideNavBtn{
    display: flex; 
    font-size: 15px; 
    line-height: 15px;
    border: 0;
    padding: 14px 17px;
    background: #ffe721;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    left: -6px;
    border-radius: 0;
}
#bannerCarousel .ht-product-card{
    width: 100%; 
    margin: 0;
}
.lv-hot{
    margin-bottom: 15px;
}
.search-mb{
    display: block;
}
.search-mb ul.list-unstyled li {
    margin: 1px -4px 3px 0px;
}
.search-mb ul.list-unstyled .search-i a {
    color: #000; 
    background: #ffdb4a; 
    font-size: 15px;
    padding: 4px;
    margin: 3px;
    line-height: 27px;
    border-radius: 50%;
}
.search-mb ul.list-unstyled li a .ht-icon i {
    margin: 7px 7px 2px 7px;
}
.product-z2 .ht-product-card.on-list-05-column{
    width: 100%;
}
/*.search-box.active {
    display: block;
    opacity: 1;
}
.search-box {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7px 16px;
    background-color: #eee;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.search-box form.search-form {
    position: relative;
    margin: 0;
    padding: 0 48px 0 0;
}
.search-box form.search-form .search-input {
    padding: 5px 8px 5px 42px;
    line-height: 20px;
    height: 32px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}
.search-box form.search-form .search-icon {
    position: absolute;
    top: 1px;
    left: 1px;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #9e9e9e;
    background-color: #f5f5f5;
    border-radius: 4px 0 0 4px;
}
.search-box form.search-form .search-icon i {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    font-size: 15px;
}*/

.search-form .search-submit {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #9e9e9e;
    background-color: #eee;
    border: 0;
    border-radius: 4px 0 0 4px;
}
.banner-item .text-banner.align-left .title-lv2{
    font-size: 25px;
    padding: 0;
}
.title-lv4 {
    margin: 12px 0px 14px 0px;
}
.banner-item .text-banner.align-left .title-lv3{
    padding: 0px 35px 0px 0px;
}
.banner-item .text-banner.align-left{
    left: 22px;
    top: 28px;
}
.home-product-zone1 .title-product{ 
    display: flex; 
}
.ht-title{ 
    font-size: 17px; 
}
.title_module_main .inner_title .des{
    font-size: 12px;
    line-height: 23px;
}
.title_module_main .h2, .title_module_main h2{
    font-size: 26px;
    line-height: 33px;
}
.review .content{
    padding: 0;
}
.ht-home-recent-news-section .ht-news-card{
    margin-bottom: 37px;
}

.carousel-tabs .view-more span{
    display: none
}
.carousel-tabs .view-more{
    position: absolute;
    right: 0
}
.news-letter-area .subscribe-form button{
    padding: 0px 11px;
    line-height: 19px;
    margin: 0;
}
.news-letter-area .subscribe-form button span{
    display: none;
}

.site-footer{
    padding-bottom: 140px;
}
.my-16 { 
    margin: 0
}

.print-n .add-attachment-btn{
    border-radius: 50%;
    padding: 9px 11px;
    font-size: 15px;
}
#productCarousel-designpage .ht-product-card{
    margin: 0;
}
.title-chan{    background-size: 181px 30px;}
.title-channb {background-size: 180px 30px;}
.pl-upload{
    padding:0;
    margin: 0;
}
.col-xs-offset-1{
    margin: 0;
    padding: 0;
}
.pl-upload .pl-upload-block{ border:0; }
.preview-t {
    margin: 0px 2px 0px -3px;
}  
.up-des-content .pl-upload{
    padding: 20px;
}
.btn-upload1{
    width: 100%;
}
.col-xs-offset-3{
    margin: 0;
    padding: 0;
}
.content-thankyou{
    margin: 200px 19px;
}
.pl-thankyou {
    background-size: 189% 100%;
}
.pay-amt{
    width: 100%
}
.tabs-left3{
    width: 100%;
}
#tabs-right .nav-tabs li{ margin-bottom: 10px; width: 100% }
#popup-product-deltail .popup-left-pro{
    width: 100%;
}
#popup-product-deltail .popup-right-pro{
    width: 100%;
}
#popup-product-deltail .modal-dialog{
    width: auto;
}
#popup-product-deltail .ht-modal-content {
    height: 1666px;
}

#product-dx .owl-carousel .owl-nav .owl-prev{
    color: #fff;
    background-color: #2dbeb3;
}
#product-dx .owl-carousel .owl-nav .owl-next{
    color: #fff;
    background-color: #2dbeb3;
}
#popup-product-deltail .warming{
    margin: 11px 5px 9px;
}
#popup-product-deltail .number-pop{
    margin: 7px 61px;
}
.warming-top{
    margin: 10px -7px 0px -1px;
}
.text-ri-tab{
    right: 21px;
}
#popup-product-deltail .registration-date-time{
    margin-left: 15px;
}
.top-table-cart .text-center .btn{
    width: 100%;
    font-size: 11px;
}
.slide-detail-p{
    margin-top: 44px;
}
#popup-datin .ht-modal-content {
    height: 1824px;
}
#popup-datin .modal-dialog {
    width: auto;
}
#popup-datin .popup-left-pro{
    width: 100%;
}
#popup-datin .popup-right-pro{
    width: 100%;
}
.design-page .owl-carousel .owl-nav .owl-next{
    right: 35px;
    top: -40px;
    color: #000;
    background: none;

}
.design-page .owl-carousel .owl-nav .owl-prev {
    left: 259px;
    top: -40px;
    background: none;
    color: #000;
}
#siteFooter .footer-bottom .about-content{
    padding-left: 10px;
    padding-right: 10px;
}
#siteFooter .f-copyright{
    padding-left: 10px;
    padding-right: 10px;
}
.product_actions .pri3-btn{
    line-height: 10px;
}
.ht-sidebar-card ul.sidebar-cat-list > li > a .fa{
   color: #fff;
}
.product-z1 .ht-product-card.home-05-column{
    width: 100%;
    float: left;
    margin: 0px;
    padding-bottom: 9px;
    padding-top: 10px;
}
.ht-product-card .product-image .image-wrap{
    height: 315px;
}
.btn-why-cate .btn2-why-cate{
        padding: 6px 13px 6px 17px;
}
.product-news-detail{
    width: 100%;
    padding-bottom: 19px;
}
.title-product-news{
    padding: 73px 0px 24px;
}
#content-news-detail .ht-card{
    padding: 16px 0px;
}
#news-detail-z1 .upload-cate .item-up {
    background: url(../img/2.1_03.png) no-repeat;
    width: 100%;
    height: 76px;
    background-size: contain;
}
.key-fo .text-left{
    text-align: center;
}
.key-fo .text-right{
    text-align: center;
}
#product-dx .ht-product-card{
    margin: 0;
    width: 100%;
}
.left-content-fe .text-content img{
    object-fit: contain;
}
.container{
    padding-left: 6px;
    padding-right: 6px;
}
.pl-title-cart{
    background-size: 77% 88%;
}

.slup-dashboard .left-slup .seller-overview-profile{
    border: 0;
}
.dropdown-search {
    display: block;
    background: #ffdb4a;
    color: #000;
    padding: 8px 10px 8px 10px;
    font-size: 16px;
    border-radius: 50%;
    /* margin: 1px; */
    margin-top: 5px;
    line-height: 20px;
}
.dropdown-search .se-mobile{
    color: #000;
}
#search-mobile .ht-modal-content{
    background: none;
    padding: 43px 28px 18px 27px;
}
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
            border-bottom: 1px solid #fff;
            background: none;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
    }
 
    #custom-search-input button {
        border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 5px;
    position: relative;
    left: -2px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
.modal-ser{
        background: #3a3a3ae8;
}
#search-mobile .ht-modal-content .form-control{
    border: 0;
    color: #fff;
}
#search-mobile .ht-modal-content .input-group{
    border-bottom: 2px solid #fff;
    color: #fff;
}

.background-avt{
    margin-left: -4px;
}
#siteHeader .sh_main-menu ul.head-login{
    margin: 0;
}
.print-n .add-attachment-btn .fa-print{
    margin: 0;
}
.banner-carousel{
    height: 259px;
}
.pad-15{
    padding: 0;
    margin: 0;
}
.zone-4 .home-print-content .print-news-list{
    padding: 0;
}
.vertical-navbar .ul-lev2{
    position: relative;
        margin-bottom: 20px;
}
.navbar-action .btn--create-new-shop .fa-cart-plus{
    margin-right: 0;
}
}
/*end mobile*/
