// CAROUSEL
.owl-carousel{
  position: relative;
  .owl-nav{
    .owl-prev,
    .owl-next{
      position: absolute;
      display: block;
      top: 50%; margin-top: -36px;
      width: 28px;
      line-height: 72px;
      text-align: center;
      color: #fff;
      background-color: $green400;
      @include transition(all .2s ease-in-out);
      i{
        line-height: 72px;
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
      }
      &.disabled{
        opacity: .4 !important;
      }
    }
    .owl-prev{
      left: 0;
      padding-right: 2px;
    }
    .owl-next{
      right: 0;
      padding-left: 2px;
    }
  }
  &:hover{
    .owl-nav{
      .owl-prev,
      .owl-next{
        background-color:  $green500;
        &:hover{
          color: #fff;
          background-color: $green600;
        }
        &:active{
          background-color: $green800;
          border-color: $green800;
        }
      }
    }
  }
  .owl-dots{
    position: absolute;
    bottom: 24px;
    left: 50%;
    @include translateX(-50%);
    height: 28px;
    padding: 4px;
    line-height: 20px;
    font-size: 0;
    .owl-dot{
      display: inline-block;
      margin: 0 2px;
      span{
        display: block;
        width: 20px; height: 20px;
        background-color: rgba(#000,.3);
        border-radius: 10px;
        border: 2px solid transparent;
        @include transition(all .2s ease-in-out);
      }
      &.active{
        span{
          background-color: #fff;
          border-color: $green800;
        }
      }
    }
  }
}
.product-carousel,
.news-carousel{
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: 0;
  .owl-item{
    border-right: 1px solid #ddd;
  }
  .owl-nav{
    .owl-prev,
    .owl-next{
      width: 24px;
    }
  }
}
.photo-carousel{
  margin-top: 8px;
  background-color: #fff;
  .owl-nav{
    .owl-prev,
    .owl-next{
      margin-top: -18px;
      width: 24px;
      line-height: 36px;
      i{
        line-height: 36px;
      }
    }
  }
  .photo-item{
    padding: 4px;
    a{
      display: block;
      border: 1px solid transparent;
      &:hover{
        border-color: #ddd;
      }
    }
    &.active{
      a{
        border-color: $green400;
      }
    }
  }
}

  