// FOOTER

#siteFooter{
	margin-top: 72px;
	.footer-promotion{
		padding: 24px 0;
		.single-policy{
			font-size: 0;
			.policy-icon{
				display: inline-block;
				vertical-align: top;
				line-height: 48px;
				font-size: 42px;
				max-width: 30%;
				color: $green600;
			}
			.policy-descr{
				padding: 4px 0 4px 16px;
				vertical-align: top;
				display: inline-block;
				max-width: 70%;
				.item-title{
					margin: 0 0 4px;
					line-height: 20px;
					font-size: 16px;
					font-weight: 500;
					color: $green600;
				}
				.item-descr{
					font-size: 12px;
					line-height: 16px;
					color: #555;
				}
			}
		}
	}
	.footer-main{
		padding: 36px 0;
		.about-company{
			line-height: 17px;
			font-size: 12px;
			.c-logo{
				width: 50%;
			}
			.c-about{
				margin-top: 8px;
			}
		}
		.f-nav-wrap{
			padding-left: 24px;
		}
		.f-nav-title{
			font-size: 14px;
			font-weight: 600;
			color: #999;
		}
		.f-nav-list{
			li{
				margin: 0 0 4px;
				a{
					display: inline-block;
					font-size: 13px;
					line-height: 17px;
					color: #333;
					&:hover{
						color: $green700;
					}
				}
			}
		}
	}
	.footer-bottom{
		padding: 24px 0;
		.about-content{
			p{
				margin-bottom: 4px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.icon-link-list{
			padding: 0 24px;
			li{
				a{
					display: inline-block;
					img{
						display: inline-block;
						max-width: 100%;
					}
				}
			}
		}
	}
	.f-copyright{
		padding: 12px 0;
		background-color: #333;
		color: #fff;
	}
}