// HEADER

#siteHeader{
	background-color: #fff;

	}
	.main-header{
		.site-logo{
			text-align: left;
			padding: 8px 0;
			a{
				display: block;
				line-height: 96px;
				img{
					display: inline-block;
					vertical-align: middle;
					max-height: 84px;
					max-width: 85%;
				}
				&:after{
					display: inline-block;
					vertical-align: middle;
					line-height: 96px;
				}
				&:hover{
					opacity: .8;
				}
			}
		}
		.header-search-form{
			margin: 24px 0;
			position: relative;
			.search-input{
				padding-right: 106px;
				&:focus{
					border-color: $green600;
				}
			}
			.search-submit{
				display: block;
				position: absolute;
				top: 0; right: 0;
			}
			.suggested-keywords{
				margin: 8px 2px 0;
				line-height: 16px;
				font-size: 12px;
				font-style: italic;
				color: #555;
				cursor: default;
				a{
					color: $green600;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		ul.control-action{
			margin-top: 30px;
			padding: 0;
			text-align: right;
			white-space: nowrap;
			& > li{
				display: inline-block;
				position: relative;
				font-size: 0;
				& > a{
					display: block;
					padding: 4px 4px 0;
					@media (min-width: $screen-lg-min){
						padding: 4px 8px 0;
					}
					.ht-icon{
						display: block;
						position: relative;
						line-height: 32px;
						text-align: center;
						i{
							display: inline-block;
							vertical-align: top;
							line-height: 32px;
							font-size: 28px;
							color: $grey400;
						}
						.count-badge{
							position: absolute;
							top: 0; left: 50%; 
							margin-left: 4px;
							margin-top: -4px;
							padding: 2px 5px;
							line-height: 14px;
							font-size: 11px;
							color: #fff;
							background-color: $green600;
							border-radius: 6px;
						}
					}
					.ht-label{
						display: block;
						margin-top: 2px;
						padding-bottom: 4px;
						line-height: 14px;
						font-size: 11px;
						text-align: center;
						color: #333;
						border-bottom: 2px solid transparent;
						@include transition(border-color .1s ease-in-out);
					}
				}
				&:hover{
					a{
						.ht-label{
							border-bottom-color: $green400;
						}
					}
				}
			}
		}
		ul.list-level-02{
			padding: 0;
			position: absolute;
			top: 100%; right: 0;
			text-align: left;
			background-color: #fff;
			border: 1px solid #ddd;
			@include box-shadow(0 1px 4px rgba(#000,.2));
			opacity: 0;
			@include transition(opacity .1s ease-in-out);
			li{
				border-bottom: 1px solid #eee;
				&:last-child{
					border-bottom: 0;
				}
				a{
					display: block;
					padding: 8px 16px 8px 10px;
					line-height: 16px;
					font-size: 12px;
					white-space: nowrap;
					color: #333;
					i.fa{
						display: inline-block;
						margin-right: 4px;
						width: 16px;
						text-align: center;
					}
					&:hover{
						background-color: $greenA100;
					}
				}
			}
		}
		ul.control-action{
			li{
				&:hover{
					ul{
						opacity: 1;
					}
				}
			}
		}
	}
	.main-navbar{
		background-color: #fff;
		ul.list-level-01{
			padding: 0;
			margin: 0;
			font-size: 0;
			text-align: left;
			& > li{
				position: relative;
				display: inline-block;
				& > a{
					display: block;
					padding: 10px 16px;
					line-height: 20px;
					font-size: 12px;
					font-weight: 400;
					color: #fff;
					background-color: $green600;
				}
				&:hover{
					& > a{
						background-color: $green700;
					}
				}
				&.active{
					& > a{
						background-color: $green800;
					}
				}
			}
		}
		ul.list-level-02,
		ul.list-level-n{
			display: none;
			position: absolute;
			background-color: #fff;
			border-bottom: 2px solid $green400;
			z-index: 102;
			@include box-shadow(0 1px 4px 0 rgba(#000,.2));
			@include transition(opacity .1s ease-in-out);
			& > li{
				position: relative;
				display: block;
				border-bottom: 1px solid #eee;
				& > a{
					display: block;
					padding: 8px 18px 8px 12px;
					line-height: 16px;
					font-size: 12px;
					color: #555;
					white-space: nowrap;
					i.fa{
						position: absolute;
						display: block;
						line-height: 16px;
						top: 8px; right: 8px;
					}
				}
				&:hover{
					& > a{
						background-color: $green50;
					}
				}
			}
		}
		ul.list-level-02{
			top: 100%; left: 0;
		}
		ul.list-level-n{
			top: 0; left: 100%;
		}
		ul.list-level-01{
			li{
				&:hover{
					& > ul{
						display: block;
					}
				}
			}
		}
	}
}