.vertical-navbar{
	// height: 430px;
	background-color: #fff;
	.list-title{
		position: relative;
		margin: 0;
		padding: 9px 12px 7px 44px;
		line-height: 20px;
		font-size: 14px;
		font-weight: 500;
		white-space: nowrap;
		text-transform: uppercase;
		color: #fff;
		background-color: $green600;
		i{
			position: absolute;
			display: block;
			top: 0; left: 0;
			width: 36px;
			height: 36px;
			line-height: 36px;
			font-size: 18px;
			text-align: center;
			background-color: $green800;
		}
		@media (min-width: $screen-lg-min){
			padding: 13px 12px 11px 64px;
			i{
				width: 44px;
				height: 44px;
				font-size: 18px;
			}
		}
	}
	ul{
		margin: 0;
		padding: 0;
		border-bottom: 2px solid $green600;
		li{
			border-bottom: 1px solid #eee;
			position: relative;
			&:last-child{
				border-bottom: 0;
			}
			a{
				position: relative;
				display: block;
				padding: 6px 24px 6px 12px;
				line-height: 20px;
				font-size: 12px;
				color: #333;
				@extend .ht-oneline;
				i{
					position: absolute;
					display: block;
					line-height: 20px;
					top: 6px; right: 8px;
				}
			}
			@media (min-width: $screen-lg-min){
				a{
					padding: 7px 28px 7px 12px;
				}
			}
			&:hover{
				& > a{
					background-color: $green50;
				}
			}
		}
		ul{
			display: none;
			position: absolute;
			top: 0; left: 100%;
			background-color: #fff;
			border-bottom: 2px solid $green400;
			@include box-shadow(0 1px 4px 0 rgba(#000,.2));
			z-index: 102;
		}
		li:hover{
			& > ul{
				display: block;
			}
		}
	}
}
.home-carousel{
	height: 400px;
	background-color: $grey300;
	.single-item{
		display: block;
		height: 400px;
	}
	@media (min-width: $screen-lg-min){
		height: 430px;
		background-color: $grey300;
		.single-item{
			display: block;
			height: 430px;
		}
	}
}
.cat-filter-header{
	font-size: 0;
	border-bottom: 1px solid #ddd;
	.ht-title {
    margin: 0;
    margin-bottom: -1px;
    padding: 12px 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid $green600;
	}
	.sort-wrap{
		padding: 10px 0;
		margin-bottom: -1px;
		.ht-label{
			display: inline-block;
			vertical-align: top;
			padding: 4px 8px;
			line-height: 16px;
			font-size: 12px;
			font-weight: 500;
			color: #777;
		}
		ul.sort-by-list{
			display: inline-block;
			vertical-align: top;
			margin: 0 4px;
			& > li{
				position: relative;
				& > span{
					display: block;
					padding: 4px 12px;
					min-width: 128px;
					line-height: 16px;
					font-size: 12px;
					color: #555;
					background-color: #fff;
				}
				ul{
					display: none;
					opacity: 0;
					position: absolute;
					top: 100%; left: 0;
					min-width: 100%;
					padding: 0; 
					margin: 0;
					background-color: #fff;
					border: 1px solid #eee;
					@include box-shadow(0 1px 4px 0 rgba(#000,.2));
					z-index: 99;
					li{
						border-bottom: 1px solid #eee;
						&:last-child{
							border-bottom: 0;
						}
						a{
							display: block;
							padding: 4px 16px 4px 12px;
							line-height: 16px;
							font-size: 12px;
							white-space: nowrap;
							color: #555;
							&:hover{
								background-color: $green50;
							}
							&:active{
								background-color: $green100;
							}
						}
					}
				}
			}
		}
		.view-by-icon{
			display: inline-block;
			width: 24px;
			margin: 0 2px;
			line-height: 24px;
			text-align: center;
			color: #999;
			background-color: #fff;
			i{
				display: inline-block;
				line-height: 24px;
				vertical-align: top;
				font-size: 14px;
			}
			&:hover{
				color: #fff;
				background-color: $green400;
			}
			&.active{
				color: #fff;
				background-color: $green600;
			}
		}
	}
		
}
.product-filter-nav{
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 2px solid $green600;
	.view-more{
		display: block;
		padding: 2px 8px;
		margin: 7px 8px;
	}
	ul.filter-list{
		margin: 0;
		padding: 0;
		font-size: 0;
		li{
			display: inline-block;
			vertical-align: top;
			a{
				display: block;
				padding: 9px 12px 8px;
				line-height: 16px;
				font-size: 12px;
				color: #555;
				border-top: 1px solid transparent;
				&:hover{
					border-top-color: $green400;
					background-color: $grey50;
				}
			}
			&.active{
				a{
					border-top-color: $green600;
					background-color: $grey100;
				}
			}
		}
	}
}

.cart-table{
	table{
		thead{
	    tr{
	      th{
	        font-weight: 500;
	        color: #777;
	      }
	    }
	  }
	  .product-detail{
	    position: relative;
	    padding-left: 112px;
	    min-height: 100px;
	    width: 400px;
	    .product-image{
	      position: absolute;
	      top: 0; left: 0;
	      display: block;
	      width: 100px;
	      height: 100px;
	      padding: 2px;
	      background-color: $grey200;
	      .p-image{
	        width: 96px; height: 96px;
	        background-color: $grey300;
	      }
	    }
	    .product-info{
	      display: inline-block;
	      vertical-align: middle;
	      // max-width: 
	      .p-title{
	        margin: 4px 0 8px;
	        line-height: 19px;
	        font-size: 14px;
	        font-weight: 500;
	        a{
	          color: #333;
	          &:hover{
	            color: $green600;
	          }
	        }
	      }
	      .p-action{
	        a{
	          display: inline-block;
	          line-height: 16px;
	          font-size: 12px;
	          i{
	            margin-right: 4px;
	          }
	        }
	      }
	    }
	  }
	  .product-price{
	    margin: 12px 0 0;
	    padding: 10px 0;
	    line-height: 20px;
	    font-size: 14px;
	    text-align: center;
	  }
	  .product-quantity{
	    width: 128px;
	    margin: 12px auto 0;
	  }
	}
}
.check-out-section{
	hr{
		border-color: #ddd;
	}
}