// ==== VARIABLES ====

// ---------------
// Screens

$screen-xs:         480px !default;
$screen-xs-min:     $screen-xs !default;
$screen-phone:      $screen-xs-min !default;

$screen-sm:         768px !default;
$screen-sm-min:     $screen-sm !default;
$screen-tablet:     $screen-sm-min !default;

$screen-md:         992px !default;
$screen-md-min:     $screen-md !default;
$screen-desktop:    $screen-md-min !default;

$screen-lg:         1200px !default;
$screen-lg-min:     $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

$screen-xl: 				1440px;

$screen-xs-max:			($screen-sm-min - 1) !default;
$screen-sm-max:			($screen-md-min - 1) !default;
$screen-md-max:			($screen-lg-min - 1) !default;

// @media (min-width: $screen-xs-min){}
// @media (min-width: $screen-sm-min){}
// @media (min-width: $screen-md-min){}
// @media (min-width: $screen-lg-min){}
// @media (min-width: 1440px){}

// ---------------
// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&subset=vietnamese');
$font-family-primary: 'Open Sans', sans-serif;

// ---------------
// Colors

// Green
$green50:		#E8F5E9;
$green100:	#C8E6C9;
$green200:	#A5D6A7;
$green300:	#81C784;
$green400:	#66BB6A;
$green500:	#4CAF50;
$green600:	#43A047;
$green700:	#388E3C;
$green800:	#2E7D32;
$green900:	#1B5E20;
$greenA100:	#B9F6CA;
$greenA200:	#69F0AE;
$greenA400:	#00E676;
$greenA700:	#00C853;

// Red
$red50:		#FFEBEE;
$red100:	#FFCDD2;
$red200:	#EF9A9A;
$red300:	#E57373;
$red400:	#EF5350;
$red500:	#F44336;
$red600:	#E53935;
$red700:	#D32F2F;
$red800:	#C62828;
$red900:	#B71C1C;
$redA100:	#FF8A80;
$redA200:	#FF5252;
$redA400:	#FF1744;
$redA700:	#D50000;

//Grey
$grey50:	#FAFAFA;
$grey100:	#F5F5F5;
$grey200:	#EEEEEE;
$grey300:	#E0E0E0;
$grey400:	#BDBDBD;
$grey500:	#9E9E9E;
$grey600:	#757575;
$grey700:	#616161;
$grey800:	#424242;
$grey900:	#212121;

$facebook-color: #3b5999;
$googleplus-color: #dd4b39;
$youtube-color: #cd201f;
$twitter-color: #55acee;
$instagram-color: #e4405f;
